* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}
:root {
    --bg-body: #D6FFF6;
    --bg-cont: #37a2ff;
    --bg-active: #15bdeb;

}
section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}
dl, ol, ul {
    margin-bottom: 0;
}

.tab-container {
    text-align: center;
    justify-content: center;
    max-width: 950px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
    border: solid 1px #000;
    overflow: hidden;

}

.options {
    display: flex;
    width: 100%;
    height: 15%;
    border: solid 1px #000;
    list-style: none;

}
.options {
    display: flex;
    width: 100%;
    height: 15%;
    list-style: none;
    text-decoration: none;
    margin-top: 0;
    border: solid 1px #000;
    padding-left: 0;
    justify-content: space-between;
}
ul .options{
    padding-left: 0%;
    margin-bottom:0%;
    margin-top: 0;
}
.option {
    flex-grow: 8;
    text-align: center;
    line-height: 90px;
    color: #fff;
    border: solid 1.5px #000 ;
    cursor: pointer;
}

.option-active {
    background: var(--bg-active);
    border-bottom: 1px solid rgba(7, 63 95, .4);
}

.contents {
    width: 100%;
    height: 85%;
}

.content {
    width: 100%;
    height: 100%;
    color: #fff;
    display: none;
    padding: 20px;
}

.content-active {
    background: var(--bg-cont);
    display: block;
}

.content img {
    text-align: center;
    height: 302px;
    border-bottom: solid 1px rgba(255, 255, 255, .3);
    letter-spacing: 2px;
    margin: 10px;
}

.content p {
    margin: 15px;
    letter-spacing: 1px;
}

body {
    background: var(--bg-active);
}

main {
    max-width:1304px;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
/* BANNER CON IMAGENES Y VIDEOS GIF PAGINA DE INICIO */
span .card-group{
max-width: 1304px;
margin: auto;

}
.card {
    margin: auto;
    position: relative;
    height: 20rem;
    max-width: 306px;
    max-height: 306px;
    background-color: #000;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    object-fit: cover;
}

.card-body .card-title {
    position: absolute;
    text-align: center;
    justify-content: center;
    bottom: 0;
    display: flex;
    width: 75%;
    height: 30px;
    line-height: 45px;
    color: #f3f3f3;
}

.card .back {
    transform: perspective(600px)rotateY(180deg);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0, 5px, 10px #000;
}

.link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #f3f3f3;
    justify-content: center;
    display: flex;
}
.link a {
    color: #fff;
}

.tx-card {
    border-bottom: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px)rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px)rotateY(360deg);
}
/* MAIN TODAS LAS PAGINAS */
main .title-us {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    max-width: 950px;
    color: #f3f3f3;


}

main p {
    justify-content: center;
    text-align: justify;
    font-size: 15px;
    margin: 30px 30px;
}

ul {
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    text-align: center;

}

li {
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;

}

a {
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
    color: #000;
    
}

ol {
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;

}

footer {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    background-color: rgb(179, 174, 174);
    font-size: small;

}

.conteiner-foot {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    max-width: 950px;
}

#btn-mas {
    display: none;
}

.container-variasredes {
    position: fixed;
    bottom: 20px;
    right: 60px;

}

.redes a,
.btn-mas label {
    display: block;
    text-decoration: none;
    background: #cc2b2b;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.redes a:hover {
    background: #fff;
    color: #cc2b2b;
}

.redes a {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~.redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.btn-mas label {
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
}

#btn-mas:checked~.btn-mas label {
    transform: rotate(135deg);
    font-size: 25px;
}
/* spin cam  */
.container-servicios {
    text-align: center;
    color:#f3f3f3;
    display: flex;
    justify-content: center;
    width: 950px;
    height: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
    border: solid 1px #000;
    overflow: hidden;
}
.image-left{
margin: 10px 10px 10px 10px;
justify-content: center;
display: flex;
flex-direction: row;
text-align: center;
flex-wrap: wrap;
}
.image-left img{
    margin-top: 1em;
    border-radius: 20%;
}
.content-right{
    margin-top: 1em;
    text-align: center;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}
.container-paquetebasico{
    margin-top: 3em;
    text-align: center;
    justify-content: center;
    display:grid;
    grid-row: auto;
    width: 950px;
    height: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .8);
    border-radius: 15%;
    border: solid 1px #000;
    overflow: hidden;
}
.container-paquetebasico ul li{
    color: #fff;
}
.container-paquetebasico-share{
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    justify-content: center;
    display:grid;
    grid-row: auto;
    width: 950px;
    height: auto;
    color: #fff;
    border-style: dashed;
    
}
.container-adicionales{
    margin-top: 3em;
    text-align: center;
    justify-content: center;
    display:grid;
    grid-row: auto;
    width: 950px;
    height: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .8);
    border-radius: 5%;
    border: solid 1px #000;
    overflow: hidden;
}
h3{
    color: #fff;
    
}
.container .text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--bg-cont);

}
.container{
    background-color: var(--bg-active);
}
#cuerpoContactanos{
    background-image: url(../imagen/Placa-BA-BOOTH-contactanos.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
#contactos .container{
    max-width: 790px;
    justify-content: center;
}
.checkbox{
    justify-content: center;
    text-align: center;
}
.row .message{
    text-align: justify;
}

.partners img{
    background-color: #fff;
    margin: 2em;
}
.photobooth{
    text-align: center;
    justify-content: center;
}
.photobooth img{
    height: 70%;
    width: 70%;
    margin: 2em;
}
/* pagina bullet */
.bullet{
    text-align: center;
    justify-content: center;
}
.bullet img{
    height: 70%;
    width: 70%;
    margin: 2em;

}

/* Flipbook*/
.content-right-flipbook h3{
    text-align: center;
    margin-top: 10%;
}

/* VideoBooth*/
.container-opciones-video{
    text-align: center;
    margin: 2rem;
    color: #f3f3f3;
    border: solid 1px #000;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .8);

}

/*shareprint*/
.banner-share{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

}
.texto-right{
    text-align: center;
}
.container-hashtag{
    margin-top: 3em;
    text-align: center;
    justify-content: center;
    display:grid;
    grid-row: auto;
    width: 950px;
}
 .hashtag img{
    text-align: center;
    justify-content: center;
    align-items:center ;
    width: 70%;
    height: 70%;
}
.hashtag h5{
    color: #fff;
    font-size: x-small;
}
.hashtag h3{
    color: #fff;
    font-size: x-larges;
}
.formatos-impresion{
    margin-top: 3em;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-row: auto;
}
.hashtag{
    align-items: center;
    justify-content: center;

}